In [4]:
clist=["car","bike","truck"]
print clist
thisclist=clist=list(("car","bike","truck"))
print(thisclist)

['car', 'bike', 'truck']
['car', 'bike', 'truck']

In [9]:
lst=['12',1,3]
print lst

['12', 1, 3]

In [7]:

print clist

['car', 'bike', 'truck']

In [11]:
lst[0]

'12'

In [12]:
#length 
thislist=["apple","banana","orange"]
print(len(thislist))

3

In [4]:
fruits=["apple","banana","orange"]
fruits=[1,2,3,4]
fruits=[True,False,False]
newlist=[x if x!="banana" else "orange" for x in fruits]

In [19]:
list1=["a",23,True,43,"male"]
print list1

['a', 23, True, 43, 'male']

In [20]:
mylist=["apple","banana","orange"]
print(type(mylist))

<type 'list'>

In [21]:
list1=["a","b","c"]
list2=[1,2,4]
list4=list2*2
print list4

list3=list1+list2
print(list3)

[1, 2, 4, 1, 2, 4]
['a', 'b', 'c', 1, 2, 4]

In [47]:
list1=["physics","chemistr",2324,2341];
# semicolon is optional
#list2=[1,2,3,4,5,6]
list2=[1,2,3,4,5,6,7,8,6,8,7,5,3,5,6,7,8,9,0,1];
print "list1[0]" , list1[0]
print "list2[1:5]:",list2[1:5]
print "list2[1:5]:",list2[-2:] #it take last two element
print "list2[1:5]:",list2[(2^2):]
print "list2[1:5]:",list2[2:]#it print number after 2nd number till last
print "list2[1:5]:",list2[:2] #it take first two

list1[0] physics
list2[1:5]: [2, 3, 4, 5]
list2[1:5]: [0, 1]
list2[1:5]: [1, 2, 3, 4, 5, 6, 7, 8, 6, 8, 7, 5, 3, 5, 6, 7, 8, 9, 0, 1]
list2[1:5]: [3, 4, 5, 6, 7, 8, 6, 8, 7, 5, 3, 5, 6, 7, 8, 9, 0, 1]
list2[1:5]: [1, 2]

In [27]:
list=["physics","chemistry",2000,1992];

print list[2]
list[2]=2001;

print list[2]

2000
2001

In [28]:
list1=["P","c",1234,2313];
print list1
del list1[2];

print "after deleting value at index 2:"
print list1

['P', 'c', 1234, 2313]
after deleting value at index 2:
['P', 'c', 2313]

In [29]:
thislist=["car","bike","truck"]

for x in thislist:
    print(x)

car
bike
truck

In [50]:
thislist=["car","bike","truck"]

for i in range(len(thislist)):
    print(thislist[i])
    i=i+1

car
bike
truck

In [51]:
list1=[1,2,3]
list2=["a","b","c"]

for x in list2:
    list1.append(x)

print(list1)

[1, 2, 3, 'a', 'b', 'c']

In [2]:
fruits=["apple","banana","orange","kiwi"]
newlist0=[x for x in range(10)]
newlist1=[x for x in range(10) if x<5]
newlist2=[x.upper() for x in fruits]

print(newlist0,newlist1,newlist2)

#fruits=["apple","banana","orange","kiwi"]
newlist=[x.upper() for x in fruits]
newlist=['hello' for x in fruits]
newlist=[x if x!="banana" else "orange" for x in fruits]

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4], ['APPLE', 'BANANA', 'ORANGE', 'KIWI'])

In [3]:
fruits=["apple","banana","orange","kiwi"]
newlist=[]

for x in fruits:
    if "a" in x:
        newlist.append(x)
        
print(newlist)

['apple', 'banana', 'orange']