In [9]:
import numpy as np;
import pandas as pd

df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
lst=[1,2,3,4,'a',2.0,"f"]
print(lst)

[1, 2, 3, 4, 'a', 2.0, 'f']

In [5]:
df=pd.DataFrame(lst)
print(df)

   0
0  1
1  2
2  3
3  4
4  a
5  2
6  f

In [10]:
lst1=['a',2.0,"f"]
df=pd.DataFrame(lst1,index=[1,2,3])
print(df)

   0
1  a
2  2
3  f

In [13]:
df=pd.DataFrame(['a','b','c'],index=['r','t','u'])
#print(df)

In [14]:
#working index and value is printed here for key,value in df.iteritems():
#print(key,value)
for x,n in df.iteritems():
    print(x,n)
    
#for rowindex,row in df.ierrows():
#print(row_index,row)

(0, r    a
t    b
u    c
Name: 0, dtype: object)

In [20]:
#it print rowwise
df=pd.DataFrame(np.random.randn(4,3),index=[6,7,8,9],columns=["col1","col2","col3"])
print(df)

for row_index,row in df.iterrows():
    print(row_index,row)

       col1      col2      col3
6  1.340127  0.605307 -0.416562
7 -0.400531  0.691680 -0.516785
8  0.482764 -0.210284 -0.584363
9  1.332897 -0.446907  0.463131
(6, col1    1.340127
col2    0.605307
col3   -0.416562
Name: 6, dtype: float64)
(7, col1   -0.400531
col2    0.691680
col3   -0.516785
Name: 7, dtype: float64)
(8, col1    0.482764
col2   -0.210284
col3   -0.584363
Name: 8, dtype: float64)
(9, col1    1.332897
col2   -0.446907
col3    0.463131
Name: 9, dtype: float64)

In [18]:

    
#it print column wise    
for row_index,row in df.iteritems():
    print(row_index,row)

('col1', 6   -0.073732
7   -1.183426
8   -1.144467
9    0.142788
Name: col1, dtype: float64)
('col2', 6   -1.037695
7    0.499887
8   -1.676651
9    0.369547
Name: col2, dtype: float64)
('col3', 6    0.175361
7   -0.049390
8   -0.549543
9    1.594494
Name: col3, dtype: float64)
('col1', 6   -0.073732
7   -1.183426
8   -1.144467
9    0.142788
Name: col1, dtype: float64)
('col2', 6   -1.037695
7    0.499887
8   -1.676651
9    0.369547
Name: col2, dtype: float64)
('col3', 6    0.175361
7   -0.049390
8   -0.549543
9    1.594494
Name: col3, dtype: float64)

In [21]:
#itertuples
#itertuples() method will return an iterator yeilding a named tuple for each row
#the first element of the typle will be the row's corresponding index value,
#while remaining values are the row values.

for row in df.itertuples():
    print(row)

Pandas(Index=6, col1=1.340126589060544, col2=0.605307345994336, col3=-0.41656238796428235)
Pandas(Index=7, col1=-0.40053103131032475, col2=0.69167954630255402, col3=-0.51678545187208869)
Pandas(Index=8, col1=0.48276368664366742, col2=-0.21028438427668844, col3=-0.58436346455419486)
Pandas(Index=9, col1=1.33289701439089, col2=-0.44690694280303078, col3=0.46313058496739051)

In [26]:

B={'A':['a','b','c'],'B':[1,2,3,3],'C':[2014,2015,2016],'D':['AA','BB','YY']}
#print(B)

A={'A':['a','b','c'],'B':[1,2,3],'C':[2014,2015,2016],'D':['AA','BB','YY']}
print(A)
df=pd.DataFrame(A)

{'A': ['a', 'b', 'c'], 'C': [2014, 2015, 2016], 'B': [1, 2, 3], 'D': ['AA', 'BB', 'YY']}

In [33]:
#create frame using list of dictionaries
#lstDic=[{'A':['a','b','c']},{'B':[1,2,3]},{'C':'AA','BB','CC'}]

data=[{'a':['a','b','c']},{'a':5,'b':10,'c':20},{'a':11,'h':1,'g':6}]
df=pd.DataFrame(data,index=['first','second','third'])
print(df)

                a     b     c    g    h
first   [a, b, c]   NaN   NaN  NaN  NaN
second          5  10.0  20.0  NaN  NaN
third          11   NaN   NaN  6.0  1.0

In [40]:
#create dataframe using list of list

lst=[[1,2,3],['a','b','c']]
df=pd.DataFrame(lst,index=['m','n'],dtype=float)
print(df)

   0  1  2
m  1  2  3
n  a  b  c

In [45]:

lst=[['a','b','c'],[1,2,3]]
df=pd.DataFrame(lst,index=['m','n'],dtype=float)
print(df)

   0  1  2
m  a  b  c
n  1  2  3

In [11]:
lst1=[['a','b','c'],[1,2,3]]
df=pd.DataFrame(lst1,columns=['A','B','C'],dtype=float)
print(df)

   A  B  C
0  a  b  c
1  1  2  3

In [44]:
data=[['Alex',10],['Bob',12],['clarke',13]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  clarke  13.0

In [10]:
data=[['Alex',10],['Bob',12],['clarke',13]]
df1=pd.DataFrame(data,columns=['Name','Age'],index=[5,6,7],dtype=float)
print(df1)

     Name   Age
5    Alex  10.0
6     Bob  12.0
7  clarke  13.0

In [14]:

import pandas as pd

data = [('Peter', 18, 7),
        ('Riff', 15, 6),
    ('John', 17, 8),('Michel', 18, 7),
   ('Sheli', 17, 5) ]



df = pd.DataFrame(data, columns =['Team', 'Age', 'Score'])

print(df)

a = df.pivot('Team', 'Score','Age')
print(a)

     Team  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5
Score      5     6     7     8
Team
John     NaN   NaN   NaN  17.0
Michel   NaN   NaN  18.0   NaN
Peter    NaN   NaN  18.0   NaN
Riff     NaN  15.0   NaN   NaN
Sheli   17.0   NaN   NaN   NaN

In [19]:

lst = [['t', 'r', 25], ['k', 'p', 30],
       ['n', 'w', 26], ['j', 'w', 22],['t', 'r', 25]]
    
df = pd.DataFrame(lst, columns =['F', 'L', 'Age'], dtype = float)
#remove duplicate
df.drop_duplicates()

   F  L   Age
0  t  r  25.0
1  k  p  30.0
2  n  w  26.0
3  j  w  22.0

In [34]:
#concatenation

address=pd.DataFrame({'area':['deoria','baitalpur','gorakhpur']})
name=pd.DataFrame({'food':['pawan','jitendra','balgovind']})

#concatenating
det=pd.concat([address,name],join='outer',axis=1)

print(det)

        area       food
0     deoria      pawan
1  baitalpur   jitendra
2  gorakhpur  balgovind

In [28]:
#create 2 Dataframe
first=pd.DataFrame([['one',1],['three',3]],columns=['name','word'])
second=pd.DataFrame([['two',2],['four',4]],columns=['name','word2'])

dt=first.append(second)
print(dt)

    name  word  word2
0    one   1.0    NaN
1  three   3.0    NaN
0    two   NaN    2.0
1   four   NaN    4.0