In [20]:
import pandas as pd
df=pd.read_csv("D:\\Book1.csv")
print(df.to_string()) #to return entire data frame
print "\n"
print(df)

   student   mark    address
0        a    1.0    lucknow
1        b   12.0      noida
2        c   23.0     deoria
3        d  234.0    hathras
4        e   33.0      balia
5        f   45.0    vanaras
6        g    NaN        NaN
7        h   33.0      assam
8        i  223.0    ayodhya
9        j   45.0     manali
10       k   56.0     shilma
11       l    6.0      delhi
12       o   23.0  gurgaram
13       p   23.0      patna


   student   mark    address
0        a    1.0    lucknow
1        b   12.0      noida
2        c   23.0     deoria
3        d  234.0    hathras
4        e   33.0      balia
5        f   45.0    vanaras
6        g    NaN        NaN
7        h   33.0      assam
8        i  223.0    ayodhya
9        j   45.0     manali
10       k   56.0     shilma
11       l    6.0      delhi
12       o   23.0  gurgaram
13       p   23.0      patna

In [21]:
print(pd.options.display.max_rows) #to check your system max. rows

9999

In [22]:
#increase maximum number of rows to display the entire dataframe

pd.options.display.max_rows=9999
print(df)

   student   mark    address
0        a    1.0    lucknow
1        b   12.0      noida
2        c   23.0     deoria
3        d  234.0    hathras
4        e   33.0      balia
5        f   45.0    vanaras
6        g    NaN        NaN
7        h   33.0      assam
8        i  223.0    ayodhya
9        j   45.0     manali
10       k   56.0     shilma
11       l    6.0      delhi
12       o   23.0  gurgaram
13       p   23.0      patna

In [23]:
#view the data - head()->return headers and a specified number of rows ,starting
#from the top

print(df.head())  #if head doesn't specify then it take first five row only
print(df.head(12))

  student   mark  address
0       a    1.0  lucknow
1       b   12.0    noida
2       c   23.0   deoria
3       d  234.0  hathras
4       e   33.0    balia
   student   mark  address
0        a    1.0  lucknow
1        b   12.0    noida
2        c   23.0   deoria
3        d  234.0  hathras
4        e   33.0    balia
5        f   45.0  vanaras
6        g    NaN      NaN
7        h   33.0    assam
8        i  223.0  ayodhya
9        j   45.0   manali
10       k   56.0   shilma
11       l    6.0    delhi

In [24]:
#tail() method for viewing the last rows of the DataFrame(in case of not specify)

print(df.tail(9))

   student   mark    address
5        f   45.0    vanaras
6        g    NaN        NaN
7        h   33.0      assam
8        i  223.0    ayodhya
9        j   45.0     manali
10       k   56.0     shilma
11       l    6.0      delhi
12       o   23.0  gurgaram
13       p   23.0      patna

In [26]:
#info() -it gives you more info. about data set
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
student    14 non-null object
mark       13 non-null float64
address    13 non-null object
dtypes: float64(1), object(2)
memory usage: 260.0+ bytes
None

In [ ]:
'''cleaning Data 
it means fixing bad data in your data set
Bad data could be:
1.Empty cells
2.Data in wrong format
3.wrong data
4.duplicates
'''

In [30]:
import pandas as pd
df=pd.read_csv("D:\\Book1.csv")

print(df.to_string()) #to return entire data frame

   student mark    address
0        a  der    lucknow
1        b   12      noida
2        c   23     deoria
3        d   32    hathras
4        e   33      balia
5        f   45    vanaras
6        g  NaN     shilma
7        h   33      assam
8        i   43    ayodhya
9        j   45     manali
10       k    6      delhi
11       l    6      delhi
12       o   23  gurgaram
13       p   23      patna

In [31]:
#Remove Rows which doesn't impact on the result

new_df=df.dropna() #it same as original dat
print(df)

   student mark    address
0        a  der    lucknow
1        b   12      noida
2        c   23     deoria
3        d   32    hathras
4        e   33      balia
5        f   45    vanaras
6        g  NaN     shilma
7        h   33      assam
8        i   43    ayodhya
9        j   45     manali
10       k    6      delhi
11       l    6      delhi
12       o   23  gurgaram
13       p   23      patna

In [ ]:
#but we changed in original dataframe,use inplace =True argument
df.dropna(inplace=True) #it will remove all rows containting NULL values from orin. dataframe
print(df)

In [37]:
#not worked
#replace empty values
'''Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:'''

df.fillna(23,inplace=True)
print(df)

   student mark    address
0        a  der    lucknow
1        b   12      noida
2        c   23     deoria
3        d   32    hathras
4        e   33      balia
5        f   45    vanaras
7        h   33      assam
8        i   43    ayodhya
9        j   45     manali
10       k    6      delhi
11       l    6      delhi
12       o   23  gurgaram
13       p   23      patna

In [43]:
#Replace Only For Specified Columns
df["mark"].fillna(23,inplace=True)
print(df)

   student mark    address
0        a  der    lucknow
1        b   12      noida
2        c   23     deoria
3        d   32    hathras
4        e   33      balia
5        f   45    vanaras
7        h   33      assam
8        i   43    ayodhya
9        j   45     manali
10       k    6      delhi
11       l    6      delhi
12       o   23  gurgaram
13       p   23      patna